h1 {
    font-size: 50px;
    color: darkolivegreen;
    text-align: center;
}

body {
    background-color: whitesmoke;
}

div {
    font-size: x-large;
    text-align: center;
    height: 50px;
   }


